html{
  scroll-behavior: smooth;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ll{
  background-color: #5a5a5a
}