@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  --color-primary-400: #22d3ee;
  --color-primary-500: #06b6d4;
  --color-primary-700: #0494ad;
  --font-script: "Unbounded", sans-serif ;

  --color-main-bg-900: #0a0a0a;
  --color-main-bg-700: #171717;
  --color-main-bg-600: #262626;
  --color-main-bg-500: #6d6c6c;
  --color-main-bg-200: #a7a7a7;
  --color-main-bg-50: #cfcfcf;
  --color-main-text: #ededed;
  --color-goal-icons: #667a62;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  --animate-marquee: marquee 25s linear infinite;
}

@layer base {
 
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-main-bg-900);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-main-bg-500);
    border-radius: 8px;
    border: 2px solid var(--color-main-bg-900);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-500);
  }
  
}
